<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul style="display: flex; justify-content: space-between;" class="navbar-nav">
      
        <button id='next' name='next' type='submit', value=Next>Next</button>
    
        <button id='prev' type='submit', value=Previous>Prev</button>
        
    </ul>

    <script>
        $("#next").click(function() {
            $.get('/nextpage', function() {
                console.log("working")
            })
        }, 'json')
    </script>
  </nav>